/* Code Created by Joshua Crowley*/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

#Navigation-Bar {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    padding-top: 0;
  }

.logo {
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 4px;
    max-width: 100px;
    max-height: 100px;
}

.nav-bar-options {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 15px;
}

.Navigation {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.Navigationhref {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

.Navigationhref:hover {
    color: darkblue;
}

/* Class Sections*/

.spacer {
    height: 4px;
    background-color: black;
}

.page-section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 60vh;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.page-section:nth-child(odd) {

}

.page-section:nth-child(even) {
    background-color: grey;
}

/* Id Sections*/

#Initial-Div {
    padding: 0;
    margin: 0;
}

#above-fold {
    align-items: center;
    justify-content: center;
    background-image: url('../Images/forest.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    
}

#TheHeader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 46px;
    color: white;
}

#value-prop {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#value-prop-spacing {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-start;
    justify-content: space-around;
}

#Spacing1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    max-width: 500px;

}

#CTA-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgreen;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid black;
    border-radius: 10%;
    margin: 10px;
    margin-top: 45px;
    max-width: 200px;
}

#CTA-1:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: orangered;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2);
}

#second-block-image {
    padding: 20px;
}

#services {

}

#reviews {

}

#pricing {

}

/* More Mobile Friendly*/
@media only screen and (max-width: 520px) {

}